.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #e6e6e6;
    color: #000;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-align: center;
   }

   .button:hover {
    background-color: #b6d1db;
   }

   .button:active {
    transform: translateY(1px);
   }